name: Create Release

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
  
permissions:
  contents: write

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Set Release version environment variable
        run: |
          echo RELEASE_VERSION=`grep -o "^VPFLIBVER=.*" mvnInstallVarproformaDependenciesFromGithub.sh | sed -e 's+VPFLIBVER=\(.*\)+\1+' |  tr -d \"\'` >> $GITHUB_ENV

      - name: Download Proforma dependencies
        run: |
          chmod +x mvnInstallProformaDependenciesFromGithub.sh
          ./mvnInstallProformaDependenciesFromGithub.sh

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew --console plain clean build publish -x test

      - name: Provide files
        run: |
          mkdir "${RUNNER_TEMP}/dist"
          cp "build/pom/proforma/varproforma/${{ env.RELEASE_VERSION }}/${GITHUB_REPOSITORY#*/}-${{ env.RELEASE_VERSION }}.pom" "${RUNNER_TEMP}/dist/"
          cp "build/libs/${GITHUB_REPOSITORY#*/}-${{ env.RELEASE_VERSION }}.jar" "${RUNNER_TEMP}/dist"
          cp "build/libs/${GITHUB_REPOSITORY#*/}-${{ env.RELEASE_VERSION }}-javadoc.jar" "${RUNNER_TEMP}/dist"
          cp "build/libs/${GITHUB_REPOSITORY#*/}-${{ env.RELEASE_VERSION }}-sources.jar" "${RUNNER_TEMP}/dist"

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Get branch name and repace special chars into "-"
          BRANCH=$(echo ${{ github.ref_name }} | sed 's/[^a-zA-Z0-9]/-/g')
          STAMP=$(TZ=Europe/Berlin date +%0Y%0m%0d-%0H%0M%0S)
          echo "-current branch: '${BRANCH}'"
          if [[ "$BRANCH" == "master" ]]; then
            THE_TAG="${{ env.RELEASE_VERSION }}"
            gh release create "v$THE_TAG" \
              --verify-tag \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/}-$THE_TAG" \
              "${RUNNER_TEMP}/dist/*"
          else
            THE_TAG="${{ env.RELEASE_VERSION }}-${BRANCH}-${STAMP}"
            gh release create "v$THE_TAG" \
              --draft --prerelease \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/}-$THE_TAG" \
              "${RUNNER_TEMP}/dist/*"
          fi
